html {
    font-size: 100%;


}

section,
iframe,
div {
    margin: 0;
    padding: 0;
}

body {

    margin-left: 1rem;
    margin-right: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    overflow-x: hidden;

}

p, li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;

}
.rotatable{
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-1800deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    }
.card1 {
    align-items: flex-end;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-bottom: 1rem;
    padding-right: 1rem;
    margin-right: 1rem;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    background: #fefefe;
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    color: #0a0a0a;
  }
  .card1> :last-child {
    margin-bottom: 0;
  }
  .card-divider1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    padding: 1rem;
    /* background: #e6e6e6; */
  }
  
  .card-divider1> :last-child {
    margin-bottom: 0;
  }

.yellow {
    /* background-color: #FFAE00; */
    /* background-color:rgba(21,80,95,0) ; */
    background-color: #F3F4F7;
}



.df {
    display: flex;
    align-items: flex-end;
}





.pr {
    padding-left: 1 rem;
}
/*Cart*************************************************************************/
.section-cart {
    @media (max-width: 600px) {
        .grid-container {
            padding-right: 0;
            padding-left: 0;
          
          }
        }

}
.cart-header {
    column-gap: 5px;
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 3fr 1fr;

    @media (max-width: 600px) {
        height: 1px;
        padding: 0;
        font-size: 0;
        & > * {
            display: none
        }
    }
  
  
}
.cart-header__title {
    grid-column-start: 2;
}
.cart-footer {
    column-gap: 10px;
    display: grid;
    grid-template-columns: 5fr 3fr 3fr 1fr; 
    font-weight: 700;

    @media (max-width: 600px) {
        grid-template-columns: 1fr 1fr; 
        }
    }
.cart-footer__name {
    grid-column-start:1;
}

.cart-footer__count {
    grid-column-start: 2;

    @media (max-width: 600px) {
        grid-column-start: 2; 
        }

}
.cart-footer__price {
    grid-column-start: 3;
}
.product {
    column-gap: 5px;
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 3fr 1fr; 
    margin: 5px;

    @media (max-width: 600px) {
        column-gap: 5px;
        row-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-auto-rows: minmax(60px, auto);

        }
}
.product > * {
    align-self: center; 
   justify-self: center;
}
.product__image {
    display: block;
    align-self: center;
    justify-self: center;

    @media (max-width: 600px) {
        column-gap: 5px;
        row-gap: 10px;
       grid-column: 1/3;

        }

}
.product__title {
    @media (max-width: 600px) {
        align-self: center;
    justify-self: center;
       grid-column: 3/-1;

        }
}
.product__count {
    @media (max-width: 600px) {
        align-self: center;
        justify-self: center;
       grid-column: 1/3;

        }
}
.product__price {
    @media (max-width: 600px) {
        align-self: center;
        justify-self: center;
       grid-column:3/6;

        }

}
.product__control {
    align-self: center; 
    justify-self: center;
   
}
.count {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-self: center;
}

.count__box {
   border: none;
    width: 55px;
    height: 42px;
   /* border-radius: 3px; */
    /* background-color: orange; */
    background-color: transparent;
}
.count__input {
    max-width: 100%;
    padding-top: 10px;
    background-color: transparent;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.3;


}
.count__input::-webkit-inner-spin-button,
.count__input::-webkit-outer-spin-button {
    appearance: none;
}
.count__control {
    display: flex;
    flex-direction: column;
    row-gap: 9px; 

}
.count__control img {
   display: block;

}

.section-cart {
    padding: 20px 0 20px;
    margin: 10px;
}
.section-cart__header {
    margin-bottom: 60px;
}

/*Cart*****************************************************************/


img {
    width: 100%;
    margin-top: 0;
}
a {
    
    color: #1468a0;
}

a:hover {
    color: lightgray;
    text-decoration: none;
    transition: 0.5s;
}
.ml-10 { 
    margin-left: 10px;
     
}
.mr-10 {
    margin-right: 10px;
}
.m-5 {
    margin: 5px; 
}
.lightgrey {
    color:#1468a0;
}
.deepblue {
    background:#1468a0;
}
.whitesmoke {
    /* background:#303441;*/
    color: whitesmoke;
    text-decoration: none;
    text-decoration-line: none;
    list-style-type: none;

}

.grey {
    font-family: 'Montserrat', sans-serif;

    color: grey;


}

.roll {
    position: relative;
    display: inline-block;
}

.rollover {
    position: absolute;
    top: 0;
    left: 0;
}

.roll .rollover {
    display: none;
}

.roll:hover .rollover {
    display: block;
}

.hr-line { 
    color:rgba(100, 100, 100, 0.5);
    border-top: 0px solid rgba(35, 35, 35, 0.5);
     margin-bottom: 20px; margin-top: 20px;  border-color: none;
     }
.footer {
    background-color: #191D27;
    padding-top: 20px;
    color: #636e74;
    font-weight: 300;
    font-size: 1rem;


}

.black {
    background-color:black;
    
}
.mt-10 {
    margin-top: 10px;
}
.mt-8 {
    margin-top: 8px;
}
.white {
    background: white;
    z-index: 10;
    height: auto;
}
.black-color {
    color:black;
    z-index: 20;
}
/* .footer-line { 
    border-color:  #636e74; } */

.footer-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #fff;
}

.footer-widget {
    font-size: 0.85rem;
    color: #fff;
    display: inline-block;
    font-weight: 300;
    padding-bottom: 0px;
    line-height: 0.5;
}



.tiny-footer {
    font-size: 10px;
    padding-top: 15px;
    padding-bottom: 5px;
    font-weight: 600;
    background-color: transparent;
    color: #888d90;
    line-height: 1.0;
}


.mlwh {

    color: gray;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 5px;
}

.w200 {
    border: 0px solid transparent;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    color: rgba(0, 93, 108);
}

.w300 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    box-align: center;
}

.w400 {
    border: 0px solid transparent;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

}

.dummy {
    height: 0.8rem;
}

.dummy08 {
    height: 4rem;
}
.dummy18 {
    height: 8rem;
}

.dummy02 {
    height: 2rem;
}

ul li {
    background-color: transparent;
    text-decoration: none;
    list-style-type: none;
    margin-left: 0;
}

ul.menu {
    /* background-color: rgba(112, 112, 112, 0); */
    background-color: transparent;
    z-index: 1;
    text-decoration: none;
}

li.menu-text {
    /* background:#263846; */
    background-color: transparent;
    color: black;
    text-decoration: none;

}



.black {
    background: black;
}

.whitesmoke {

    color: whitesmoke;
}

.blue {

    color: #1a66a0;

}

.waterblue {
    background: cadetblue;
}

.myframegmap {

    border: 1px solid #f6f5f0;
    border-radius: 2px;
    height: 150px;
    width: 100%;
    box-shadow: 0px 0px 0px 0px #e7e4dc;
    overflow: hidden;
    position: relative;
    margin: 0 auto;

}


h1,
h2,
h3,
h4,
h5
 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #1a1b1b;

}
h6 {
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: black;

}
.b3rem {
    font-size: 1.5rem;
    font-weight: 500; 
}
.clb{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #1a1b1b; 
}





.grey {


    color:#888d90;
}

.bl {

    color: grey;
}

.fl {
    display: flex;
    justify-content: center;
    align-items: baseline;


}

.flaround {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    align-content: center;
}

.cs209 {
    height: 184px;
}

.cs120 {
    height: 80px;
    width: 100px;
}

.shadow {
    -webkit-box-shadow: 0px 5px 10px -2px rgba(104, 104, 104, 1);
    -moz-box-shadow: 0px 5px 10px -2px rgba(100, 100, 100, 1);
    box-shadow: 0px 5px 10px -2px rgba(100, 100, 100, 1);
}

@media (max-width: 640px) {
    .mlwh {
        font-size: 1.2rem;
    }

}

@media (max-width: 1000px) {
    iframe {
        width: 900px;
        height: 400px;
    }
}
@media (max-width: 800px) {
    iframe,  .grey6rem {
        width: 700px;
        height: 300px;
    }
}

@media (max-width: 600px) {
    iframe, .grey6rem {
        width: 700px;
        height: 300px;
    }
}
@media (max-width: 400px) {
    iframe, grey6rem {
        width: 300px;
        height: 200px;
    }
}

@media (max-width: 300px) {
    iframe, .grey6rem {
        width: 300px;
        height: 200px;
    }
}
@media (max-width: 600px) {
    .clearfix .large .callout {
        background: #E1FAEA;
    }
}

@media (max-width: 965px) {
    .big {
        display: block;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .logotext {
        font-size: 1rem;
        font-weight: 500;
        display: block;
        text-align: center;

    }
}

.iframedflex {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}




.mtp {
    margin-top: 30px;
}

.mtmb {
    box-sizing: content-box;
    margin-top: 1px;
    margin-bottom: 1px;
}




.orange {
    color: orange;
}



.socialmap {
    width: 100%;
    padding-top: 0rem;
    padding-bottom: 0.0rem;
    /* background-color: #263846;  */
    /* background-color:rgba(0,129,138,0.3) ; */
}

.social {


    /* background:#263846; */

    padding-top: 0.2rem;
    padding-bottom: 0.1rem;
    color: #636e74;
    font-weight: 300;
    font-size: 1rem;
}

.lgreen {
    background: #78C1B0;
}

.form {

    padding: 4rem 5rem;
    text-align: center;
}

.main-form {
    margin-bottom: 0;
    padding-bottom: 0;
}

.main-form-header {
    font-size: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

input {
    display: block;
    border: 1px solid maroon;
    width: 100%;
    padding: 1.5rem;
    margin: 2rem 0;
}



.maroon {
    color: maroon;
}
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 25px;
    right: 10px;
    overflow: hidden;
    width: 52px;
    height: 52px;
    border: none;
    text-indent: 100%;
    background: url(../img/up.png) no-repeat 0px 0px;
    z-index: 20;
  }
    /**********************card-profile-stats*************************************/

.card-profile-stats {
    border: 1px solid lightgrey;
    margin: 0 0.25rem 0 0;
    padding: 1.25rem;
    background: #fefefe;
    min-height: 23rem;
    line-height: 3;
  }
  
  .card-profile-stats .card-profile-stats-intro {
    text-align: center;
  }
  
  .card-profile-stats .card-profile-stats-intro .card-profile-stats-intro-pic {
    border-radius: 50%;
    margin: 0 0 1.25rem;
  }
  
  .card-profile-stats
    .card-profile-stats-intro
    .card-profile-stats-intro-content
    p:last-child {
    margin: 0;
  }
  
  .card-profile-stats .card-profile-stats-container {
    text-align: center;
  }
  
  .card-profile-stats
    .card-profile-stats-container
    .card-profile-stats-statistic {
    margin: 0 0 1.25rem;
  }
  
  .card-profile-stats
    .card-profile-stats-container
    .card-profile-stats-statistic
    p:last-child {
    margin: 0;
  }
  
  .card-profile-stats .card-profile-stats-more .card-profile-stats-more-link {
    margin: 0;
    text-align: center;
    font-size: 0.8rem;
    color: #0a0a0a;
    padding: 0.5rem;
    cursor: pointer;
  }
  
  .card-profile-stats .card-profile-stats-more .card-profile-stats-more-content {
    display: none;
  }
  .micro-stats {
    font-size: 0.85rem;
  }
  
  @media print, screen and (min-width: 64em) {
    .card-profile-stats .card-profile-stats-intro {
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      text-align: left;
    }
    .card-profile-stats .card-profile-stats-intro .card-profile-stats-intro-pic {
      margin: 0 1.25rem 0 0;
      max-width: 250px;
    }
    .card-profile-stats .card-profile-stats-container {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
    }
  }
 /**********************macroCSS*************************************/ 
 .w100p {
    width: 100%;
  }
  
  .h100p {
    height: 100%;
  }
  
  .d-ib {
    display: inline-block;
  }
  
  .d-if {
    display: inline-flex;
  }
  
  .d-block {
    display: block;
  }
  
  .d-flex {
    display: flex;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  .justify-around {
    justify-content: space-around;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .justify-end {
    justify-content: flex-end;
  }
  
  .align-center {
    align-items: center;
  }
  
  .align-end {
    align-items: flex-end;
  }
  
  .align-start {
    align-items: flex-start;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  .flex-row {
    flex-direction: row;
  }
  
  .flex-auto {
    flex: 1 1 auto;
  }
  
  .flex {
    flex: 1;
  }
  
  .flex-wrap {
    flex-wrap: wrap;
  }
  
  .m-auto {
    margin: auto;
  }
  
  .ml-auto {
    margin-left: auto;
  }
  
  .mr-auto {
    margin-right: auto;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-capitalize {
    text-transform: capitalize;
  }
  
  .text-uppercase {
    text-transform: uppercase;
  }
  
  .text-lowercase {
    text-transform: lowercase;
  }
  
  .fw-bold {
    font-weight: bold;
  }
  
  .text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  @for $i from 0 through 10 {
    .opacity-#{$i} {
      opacity: $i / 10;
    }
  }
  
  .pos-r {
    position: relative;
  }
  
  .pos-a {
    position: absolute;
  }
  
  .cu-p {
    cursor: pointer;
  }
  /* **** */
.card {
	display: flex;
}

.card-slider {
	width: 592px;
	height: 490px;
	margin-right: 60px;
	display: flex;
}

.card-info {
	width: calc(100% - 592px - 60px);
	padding-right: 62px;
}

.slider-nav {
	width: 82px;
	margin-right: 20px;
}

.slider-nav__item {
	height: 82px;
	width: 100%;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #D9D9D9;
	border-radius: 4px;
	cursor: pointer;
}

.slider-nav__item:not(:last-child) {
	margin-bottom: 20px;
}

.slider-nav__item img {
	max-width: 80%;
	max-height: 80%;
}

.slider-block {
	overflow: hidden;
	width: calc(100% - 82px - 20px);
	background-color: #fff;
	border: 1px solid #D9D9D9;
	border-radius: 4px;
}
.swiper {
    width: 100%;
	height: 100%;
}
.swiper-slide {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.swiper-slide img {
	max-width: 80%;
	max-height: 80%;
}
.vendor {
	display: inline-block;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #808080;
	margin-bottom: 40px;
}

.title {
	margin: 0;
	margin-bottom: 20px;
	font-weight: 400;
	font-size: 24px;
	line-height: 35px;
	color: #4D4D4D;
}

.testimonials {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.testimonials__link {
	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
	color: #5D71DD;
	border-bottom: 1px solid #5D71DD;
}

.rating {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.rating img:not(:last-child) {
	margin-right: 4px;
}

.available {
	display: inline-block;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #808080;
	margin-bottom: 40px;
}

.price {
	display: flex;
	align-items: flex-end;
	margin-bottom: 40px;
}

.price__current {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	color: #4D4D4D;
	margin-right: 40px;
}

.price__old {
	font-size: 18px;
	line-height: 25px;
	color: #808080;
	text-decoration: line-through;
	transform: translateY(-5px);
}

.buy {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	background-color: #5D71DD;
	width: 100%;
	height: 45px;
	border-radius: 4px;
	border: none;
	cursor: pointer;
}

.btn-center {
	text-align: center;
}

.modal-open {
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 0;
	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
	color: #5D71DD;
	border-bottom: 1px solid #5D71DD;
}
/* modal.css */
.disable-scroll {
	position: relative;
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.modal {
	--transition-time: 0.3s;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.7);
	cursor: pointer;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity var(--transition-time), visibility var(--transition-time);
}

.modal::before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.modal__container {
	position: relative;
	width: 1000px;
	margin: 50px auto;
	display: inline-block;
	vertical-align: middle;
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
	cursor: default;
	text-align: left;
	display: none;
}

@media (max-width: 1024px) {
	.modal__container {
		width: 90%;
	}
}

.modal__close {
	position: absolute;
	right: 0;
	top: 0;
}

.modal.is-open {
	opacity: 1;
	visibility: visible;
	transition: opacity var(--transition-time), visibility var(--transition-time);
}

.modal__container.modal-open {
	display: inline-block;
}

.fade {
	opacity: 0;
	transition: opacity var(--transition-time);
}

.fade.animate-open {
	opacity: 1;
	transition: opacity var(--transition-time);
}

.fadeInUp {
	opacity: 0;
	transform: translateY(-100px);
	transition: transform var(--transition-time), opacity var(--transition-time);
}

.fadeInUp.animate-open {
	opacity: 1;
	transform: translateY(0);
	transition: transform var(--transition-time), opacity var(--transition-time);
}
/* modal.css */
/* radio */
.option {
	display: block;
	margin-bottom: 0.35rem;
}
.custom-radio-black {
	position: relative;
	/* vertical-align: text-center; */
	width: 16px;
	height: 16px;
    display: inline-block;
	border-radius: 50%;
	background: whitesmoke;
	border: 2px solid black;
}
.custom-radio-white {
	position: relative;
	/* vertical-align: text-center; */
	width: 16px;
	height: 16px;
	display: inline-block;
	border-radius: 50%;
	background: whitesmoke;
	border: 2px solid grey;
}
.custom-radio-brown {
	position: relative;
	/* vertical-align: text-center; */
	width: 16px;
	height: 16px;
	display: inline-block;
	border-radius: 50%;
	background: whitesmoke;
	border: 2px solid brown;
}
.custom-radio-black::before {
	content:'';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	
	width: 8px;
	height: 8px;
	display: inline-block;
	border-radius: 50%;
	background: black;
	display: none;
}
.custom-radio-white::before {
	content:'';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	
	width: 8px;
	height: 8px;
	display: inline-block;
	border-radius: 50%;
	background: grey;
	display: none;
	
}
.custom-radio-brown::before {
	content:'';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	
	width: 8px;
	height: 8px;
	display: inline-block;
	border-radius: 50%;
	background: brown;
	display: none;
	
}
.mb-5 {
    margin-bottom: 5px;	
}
.real-radio-black:checked + .custom-radio-black::before {
	display: inline-block;
}
.real-radio-white:checked + .custom-radio-white::before {
	display: inline-block;
}
.real-radio-brown:checked + .custom-radio-brown::before {
	display: inline-block;
}
.real-radio-black {
	position: absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.real-radio-white {
	position: absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.real-radio-brown {
	position: absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
}
/* radio */ 
.container {
	/* max-width: 1234px; */
	width: 1244px;
	padding: 0 var(--gutter);
	margin: 0 auto;
}